html, body{
	height:100%;
	width:100%;
}
body{
	margin:0px;
	background:fixed radial-gradient(black 9px,#03ffff 315px, #1bf700 384px, black 540px, #ff0407 688px, white) no-repeat;
	-moz-background-size:100% 100%; /* Firefox 3.6+ */
	-webkit-background-size:100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size:100%; /* Opera 9.6+ */
	background-size:100% 100%;
}
#fl1{
	height:50%;
	width:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:flex-end;
}
#res1{
	position:absolute;
	top:278px;
	left:39%;
}
#fl2{
	position:relative;
	display:flex;
	height:50%;
	width:100%;
	flex-flow:row wrap;
	justify-content:center;
	align-items:flex-start;
}
label{
	border:2px solid red;
	color:blue;
	background:red radial-gradient(black -34px,yellow 27px, red 105px) no-repeat;
	border-radius:4px;
	width:118px;
	display:inline-block;
	font-family:'Arial';
	font-weight:bold;
	font-size:17pxpx;
	text-align:center;
	margin:5px 5px 0px 5px;
} 
input{
	border-radius:4px;
}
input:checked + .radio{
	color:red;
	border-radius:10px;
	transition:border-radius .3s ease-out .1s;
}
input[type="radio"]{
	display:none;
}
label:hover, .radio:hover, input[type="radio"]:hover{
	cursor:pointer;
}
label:hover{
	background:#999;
	color:white;
	transition:background, color 1s linear .1s;
}
input[type="submit"], input[type="reset"]{
	border-radius:5px;
	box-shadow:2px 2px 2px red;
	font-size:15px;
	font-weight:bold;
	font-family:'Arial';
	text-shadow:1px -1px 3px #e2003f, -1px 1px 3px #e2003f;
	border:2px solid #e2003f;
	margin:5px 5px 0px 5px;
}
input[type="submit"]:hover, input[type="reset"]:hover{
	cursor: pointer;
	background:blue;
	transition:background .5s ease-in .1s;
}
input[type="submit"]:focus, input[type="reset"]:focus{
	 outline: none;
}
input[type="submit"]:active, input[type="reset"]:active{
    outline: none;
    border:1px solid #e2003f;
    box-shadow:2px 2px 2px #e2003f, 2px 0px 2px #e2003f;
    color: #FF0066;
	text-shadow:1px -1px 3px #fff, -1px 1px 3px #fff;
	transition:color 1s ease-in .1s;
}
input[type="text"]{
	border-radius:10px;
	font-family:'Arial';
	font-weight:bold;
	font-size:20px;
	color:orange;
}
input::-webkit-input-placeholder { 
	color: red; 
}
input::-moz-placeholder { 
	color: red; 
}
input[type="text"]:focus{
	box-shadow:-3px -3px 1px #e20000, -3px 3px 1px  #e20000,  3px 3px 2px  #e20000,  3px -3px 1px  #e20000;
	border:1px solid black;
	outline:none;
}